@model Parking.Models.ParkingListViewModel
@{
    ViewData["Title"] = "All";
}
<br />
<br />
<br />
<br />
<div class="u-align-center u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
    <div class="u-container-layout u-valign-top u-container-layout-1">
        <h2 class="u-custom-font u-font-montserrat u-text u-text-1">

            <span class="u-text-palette-3-base">Всички паркинги</span>
        </h2>

    </div>
</div>
<hr />
<div class="row">
    @foreach (var item in Model.Parkings)
    { // @($"/img/{item.Id}.png")
      // "@item.ImageURL"
        <div class="media col-md-3 col-xs-12 col-sm-6 ">
            <img class="mr-3" width="100" src=@($"/img/{item.Id}.png") alt="ImgHere">
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="ById" asp-route-id="@item.Id">@item.Name</a></h5>
                @item.CategoryName
            </div>
        </div>
    }
</div>
<hr />
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>} ">
            <span class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Предишен</span>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {
            if (i < Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage) {<text>disabled</text>} ">
            <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Следващ</a>
        </li>
    </ul>
</nav>
<p>Следваща страница: @Model.NextPageNumber</p>
<p>Брой страници: @Model.PagesCount</p>
<p>Предишна страница: @Model.PreviousPageNumber</p>