@model Parking.Models.AppParkingAllViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="u-align-center u-clearfix u-section-7" id="carousel_1128">
    <div class="u-clearfix u-sheet u-sheet-1">
        <br />
        <br />
        <div class="u-align-center u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
            <div class="u-container-layout u-valign-top u-container-layout-1">
                <h2 class="u-custom-font u-font-montserrat u-text u-text-1">

                    <span class="u-text-palette-3-base">Приложение</span>
                </h2>

            </div>
        </div>

        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="22.7%">
                    <col width="25.5%">
                    <col width="26.6%">
                    <col width="25.2%">
                </colgroup>
                <tbody class="u-align-center u-table-body">
                    <tr style="height: 57px;">
                        <td class="u-align-left u-first-column u-palette-3-base u-table-cell u-table-cell-1">Име</td>
                        <td class="u-palette-3-base u-table-cell u-table-cell-2">Адрес</td>
                        <td class="u-palette-3-base u-table-cell u-table-cell-3">ГПС отношение</td>
                        <td class="u-palette-3-base u-table-cell u-table-cell-4">ГПС дължина</td>
                        <td class="u-palette-3-base u-table-cell u-table-cell-4">Общ брой места</td>
                        <td class="u-palette-3-base u-table-cell u-table-cell-4">Свободни</td>
                        <td class="u-palette-3-base u-table-cell u-table-cell-4">Тип</td>
                    </tr>
                    @foreach (var item in Model.Apps)
                    {
                <tr style="height: 89px;">
                    <td class="u-align-left u-first-column u-grey-5 u-table-cell u-table-cell-5">@item.Name</td>
                    <td class="u-table-cell u-table-cell-6">@item.Address </td>
                    <td class="u-grey-5 u-table-cell u-table-cell-7">@item.GpsLat </td>
                    <td class="u-table-cell u-table-cell-8">@item.GpsLng</td>
                    <td class="u-table-cell u-table-cell-6">@item.Total </td>
                    <td class="u-table-cell u-table-cell-8">@item.Free </td>
                    <td class="u-table-cell u-table-cell-8">@item.Type</td>

                </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</section>