@model Parking.Models.SingleParkingViewModel

<section class="single-recipe-wrap-layout1 padding-top-74 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <div class="single-recipe-layout1">
                    <div class="ctg-name">@Model.ProductType</div>
                    <h2 class="item-title">@Model.Name</h2>
                    <div class="row mb-4">
                        <div class="col-xl-9 col-12">
                            <ul class="entry-meta">
                                <li class="single-meta">
                                    <a href="#">
                                        <i class="far fa-calendar-alt"></i>Nov 14,
                                        2018
                                    </a>
                                </li>
                                <li class="single-meta">
                                    <a href="#">
                                        <i class="fas fa-user"></i>by <span>
                                            Kazi
                                            Fahim
                                        </span>
                                    </a>
                                </li>
                                <li class="single-meta">
                                    <ul class="item-rating">
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-empty"><i class="fas fa-star"></i></li>
                                        <li><span>9<span> / 10</span></span> </li>
                                    </ul>
                                </li>
                                <li class="single-meta">
                                    <a href="#">
                                        <i class="fas fa-heart"></i><span>02</span>
                                        Likes
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-3 col-12">
                            <ul class="action-item">
                                <li><button><i class="fas fa-print"></i></button></li>
                                <li><button><i class="fas fa-expand-arrows-alt"></i></button></li>
                                <li class="action-share-hover">
                                    <button><i class="fas fa-share-alt"></i></button>
                                    <div class="action-share-wrap">
                                        <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#" title="pinterest"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#" title="skype"><i class="fab fa-skype"></i></a>
                                        <a href="#" title="rss"><i class="fas fa-rss"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-figure">
                        <img src="@Model.ImageURL" alt="Product">
                    </div>
                    <div class="item-feature">
                        <ul>
                            <li>
                                <div class="feature-wrap">
                                    <div class="media">
                                        <div class="feature-icon">
                                            <i class="far fa-clock"></i>
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="feature-title">Брой места</div>
                                            <div class="feature-sub-title">@Model.CountPlace</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="feature-wrap">
                                    <div class="media">
                                        <div class="feature-icon">
                                            <i class="fas fa-utensils"></i>
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="feature-title">Цена</div>
                                            <div class="feature-sub-title">@Model.Price</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="feature-wrap">
                                    <div class="media">
                                        <div class="feature-icon">
                                            <i class="fas fa-users"></i>
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="feature-title">SERVING</div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="feature-wrap">
                                    <div class="media">
                                        <div class="feature-icon">
                                            <i class="far fa-eye"></i>
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="feature-title">VIEWS</div>
                                            <div class="feature-sub-title">3,450</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    

                    <div class="making-elements-wrap">
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="ingridients-wrap">
                                    <h3 class="item-title"><i class="fas fa-list-ul"></i>Ingridients</h3>
                                   
                                    <div class="adjust-servings">
                                        <div class="servings-title">Adjust Servings</div>
                                        <form class="servings-quantity">
                                            <div class="input-group quantity-holder" id="quantity-holder">
                                                <input type="text" name='quantity' class="form-control quantity-input"
                                                       value="1" placeholder="1">
                                                <div class="btn-quantity-select">
                                                    <button class="quantity-plus" type="button">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                    <button class="quantity-minus" type="button">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
